# Eiffel
EIFGENs
tests\html_outs\

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
px.png
px_dump.txt
px.svg
px.txt
graph_test.png
graph_test.svg
graph_test.txt
graph_test_csv.png
graph_test_csv.svg
graph_test_csv.txt
tests/html_outs/
tests/html_outs/editable_html_example.html
tests/html_outs/est_area_table.html
tests/html_outs/est_project_table.html
tests/html_outs/est_spec_table.html
tests/html_outs/est_task_table.html
